#content.landing
  #content_wrapper
    %h1.tagline The no hassle way to find tenants.
    %h2.tagline By listing your properties with us, you gain:
    #right
      %a{:href => new_user_registration_path}
        %button#start Get Started
    %dl.reasons
      %dt.exp Exposure
      %dd Reach more students, ensuring all your rentals get filled.
      %dt.ctr Control
      %dd You manage your own properties online with our easy to use system.
      %dt.sec Security
      %dd With options to hide your personal info, we allow potential tenants to contact you, without sacrificing your identity online.
