$input-background: #eee;
$input-text: darken(#d3d3d3, 50%);

fieldset, section {
  padding: .5em 0;
}

.inline {
  display: inline-block;
}

label {
  color: #424242;
  font-weight: bold;
  display: block;
  margin: 0 0 .5em;
}

input:not([type=submit]):not([type=file]):not([type=checkbox]), textarea {
  display: block;
  background-color: $input-background;
  color: $input-text;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 6px;
  border: 1px solid darken($input-background, 20%);
}

textarea {
  min-height: 200px;
}

input[type=checkbox] {
  display: inline-block;
  + label {
    display: inline-block;
  }
}

$default_button_color: #d3d3d3;
$main_action_color: #689DD3;

.btn {
  background-color: $default_button_color;
  border: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-size: .8em;
  text-align: center;
  color: #333;
  transition: all 0.08s;
  padding: .8em 2em;
  text-decoration: none;
  @include border-radius(4px);

  &:hover {
    background-color: darken($default_button_color, 5%)
  }
}

.btn.small {
  font-size: .8em;
}

.btn.warning:hover {
  background-color: #fa5a5a;
}

.btn.main_action {
  background-color: $main_action_color;
  color: white;

  &:hover {
    background-color: darken($main_action_color, 5%);
  }
}