.homepage_map {
  border: 1px solid #8f9ca2;
  height: 400px;
  max-width: 920px;
  background-color: #f7f8f8;
}

.clear {
  clear: both;
}

.homepage_link_padding {
  padding: 1em;
  display: inline-block;
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .homepage_link {
    float: left;
    width: 100%;
    display: block;
    border: 2px solid #e9eaec;
    padding: 30px 0;
    border-radius: 6px;
    background: -moz-linear-gradient(90deg, #fbfcfc 0%, white 100%) #fbfcfc;
    background: -webkit-gradient(linear, left bottom, left top, from(#fbfcfc), to(white)) #fbfcfc;
    text-align: center;
    color: #b6b6b6;
    font: 1.35em "Lucida Grande", Lucida, Verdana, sans-serif;
    cursor: pointer;
  }

  &.students {
    padding-left: 0;
    .homepage_link:hover {
      border-color: #aff5b8;
      background: -moz-linear-gradient(90deg, #f0fdf2 0%, white 100%) #fbfcfc;
      background: -webkit-gradient(linear, left bottom, left top, from(#f0fdf2), to(white)) #fbfcfc;
      color: #4db150;
    }
  }
  &.landlords {
    padding-right: 0;
    .homepage_link:hover {
      border-color: #98eafe;
      background: -moz-linear-gradient(90deg, #ecfbfe 0%, white 100%) #fbfcfc;
      background: -webkit-gradient(linear, left bottom, left top, from(#ecfbfe), to(white)) #fbfcfc;
      color: #4d72b1;
    }
  }

  :hover {
    color: #7e7e7e;
    background-color: #ffffff;
    border-color: #d2d4d8;
  }

  &.full_width {
    padding: 1em 0;
    width: 100%;
  }

}


.featured .property {
  margin-top: 30px;
  width: 33%;
  float: left;

  .photo {
    width: 100px;
    float: left;
    margin-right: 15px;
  }

  .description {
    float: left;

    h4 {
      margin-bottom: 5px;
    }

    p {
      font-size: 0.9em;
      line-height: 1.3em;
    }
  }
}
