.filter_category {
  text-transform: uppercase;
  font-size: .9em;
  color: #888;
  margin: .5em 0 1em;
}

.filter_bar {
  @include border-radius(6px);
  @include background(linear-gradient(bottom, #f6f6f6, white ));
  @include transition(all 0.3s ease-in-out);
  @include box-sizing(border-box);
  margin: 0 0 1em;
  border: 1px solid #dfdfdf;
  display: table;
  overflow: hidden;

  @media only screen and (max-width: 767px) {
    border-top: none;
    @include border-radius(0 0 6px 6px);
    display: block;
    width: 100%;
    margin: 0 0 1em;
    max-height: 0;
    opacity: 0;
    &.visible {
      max-height: 320px;
      opacity: 1;
    }

  }

}

.toggle_filter_button.filter_button {
  
  display: none;
  border: 1px solid #dfdfdf;
  border-bottom-width: 2px; 
  margin-top: .5em;
  &:hover {
    border: 1px solid #dfdfdf;
    border-bottom-width: 2px;
  }

  @media only screen and (max-width: 767px) {
    display: block;
  }
}

.filter_button {
  display: table-cell;
  padding: 8px 9px;
  cursor: pointer;
  text-align: center;
  color: #5a5a5a;
  font: .8em "Lucida Grande", Lucida, Verdana, sans-serif;

  @media only screen and (max-width: 767px) {

    display: block;
    text-align: left;
    font-size: 1.1em;
    padding: .5em;

    
    @include border-radius(0);
    &:last-child {
      @include border-radius(0 0 6px 6px);
    }

  }

  .subtext {
    font-size: .8em;
    color: grey;
    white-space: pre;
  }

  &:hover {
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    padding: 8px;
    background-color: white;

    @media only screen and (max-width: 767px) {
      padding: .5em;
      border-left: none;
      border-right: none;
      border: none;

    }
  }

  &.active {
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    padding: .5em;
    background-color: #ffffff;
    @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.19));
    color: #ec643f;

    @media only screen and (max-width: 767px) {
      background-color: #ec643f;
      color: #fff;
      border: none;

      .subtext {
        color: #eee;
      }
    }
  }

}

.sliderbar {
  margin-right: 8em;
}

.slider_readout {
  float: right;

  .dollar_sign {
    vertical-align: top;
    display: inline-block;
  }

  input.dollar_amount {
    width: 5em;
    display: inline-block !important;
    margin-top: -8px;
    line-height: 16px;
  }
}

.row {
  margin: 10px 0;
}