.property-title {
	font-weight: bold;
}

.photos {

	.image_wrapper {
	display: inline-block;
	vertical-align: top;
	
	img.thumb {


	}
	}
}

.post a.image {
	display: block;
	overflow: hidden;
	height: 200px;
}

.detail_title {
	text-transform: uppercase;
}

.detail_list {
	dt { 
		font-weight: bold;
		margin-top: 1rem;
	}

	dd {
	
	}

}

.on_white {
	@extend .edit_btn;
	border-color: #aaa;
	
}